.root {
  margin-inline-start: -0.5rem;
  padding-inline-start: 0.5rem;
}

:global .vscode-light :local .active {
  border-inline-start: 2px solid lightgray;
}

:global .vscode-dark :local .active {
  border-inline-start: 2px solid darkgray;
}

:global .vscode-light :local .field {
  border-block-end: 1px dotted lightgray;
}

:global .vscode-dark :local .field {
  border-block-end: 1px dotted darkgray;
}

:global .vscode-light :local .name {
  color: blue;
}

:global .vscode-dark :local .name {
  color: lightblue;
}

.value {
  /* Empty. */
}
