.root {
  /* Empty. */
}

.field:not(:last-child) {
  margin-block-end: 0.5rem;
}

.field:not(:first-child) {
  margin-block-start: 0.5rem;
}

:global .vscode-light :local .field {
  border-block-end: 1px dotted lightgray;
}

:global .vscode-dark :local .field {
  border-block-end: 1px dotted darkgray;
}

.name {
  font-weight: bold;
  font-style: normal;
}

.value {
  font-weight: normal;
  font-style: normal;
}

.empty {
  color: gray;
  font-weight: normal;
  font-style: italic;
}
